<div class="container">
  <div class="home">
    <a routerLink="/home">Home</a>
  </div>

  <div class="proyects">
    <p>Proyects</p>
    <a routerLink="/proyect1">Project 1</a>
    <a routerLink="/proyect2">Project 2</a>
    <a routerLink="/proyect3">Project 3</a>
    <a routerLink="/proyect4">Project 4</a>
  </div>
  <div class="about-me">
    <p>About Me</p>
    <a routerLink="/aboutme">Me Talking About Me!</a>
    <a routerLink="/resume">Resume</a>
  </div>
  <div class="email-me">
    <p>Email me!</p>
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="emailField"
          type="email"
          placeholder="meow@example.com"
          required
        />
        <mat-error
          *ngIf="emailForm.controls['emailField'].hasError('required')"
        >
          Required
        </mat-error>
        <mat-error *ngIf="emailForm.controls['emailField'].hasError('email')">
          Invalid Email
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="messageField" required></textarea>
        <mat-error
          *ngIf="emailForm.controls['messageField'].hasError('required')"
        >
          Required
        </mat-error>
      </mat-form-field>
      <button
        class="btn-submit"
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="emailForm.invalid"
      >
        Send
      </button>
    </form>
  </div>
</div>
